<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Ultimate Adventure</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="/css/style.css">

    </head>
<body>

  <header>
     <nav class="navbar navbar-expand-xl navbar-light bg-dark">
     <button class="navbar-toggler mr-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
   	<h2 id="logo" class="font-italic text-center text-success">
      Ultimate Adventure
    </h2>

  	<% if session[:logged] == true%>
        <a class="text-danger" href="/users/logout">Log out</a>
    <% else  %>
  		<a class="float-right" href="/users/login">Log-In</a>
  	<% end %>


  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    	<% if session[:logged] == true %>
    	<li class="nav-item active">
			<a class="nav-link text-center text-light" href="/users/<%=@user[:id]%>"><%=@user[:name]%>
				<span class="sr-only">(current)</span>
			</a>
		</li>
    		 <%@trips_nav.each do |trip| %>
			     <li class="nav-item active">
			        <a class="nav-link text-center text-light" href="/trips/<%= trip[:id]%>"><%=trip[:name]%>
			        	<span class="sr-only">(current)</span>
			        </a>
			     </li>
	      <%end%>
      <%end%>
    </ul>
  </div> 
    </nav>
  </header>
<div id="background" class="col-12-xl">
  <div id="background1" class="col-12-xl">

  <div class="text-center">
    <p class="text-danger d-inline bg-dark"><%=session[:message][:message]%></p>
  </div>
 

  <%= yield %>

  
  
  </div>
 <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>A JS Web Application</small>
    </div>
  </footer>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</body>
</html>