<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><%=@trip.name%></h1>
	<% stop_list = "" %>
	<% @stops.each do |stop| %>
		<% if stop.lat_long %>
		<%stop_list = stop_list + stop.lat_long + "|" %>
		<%end%>
	<%end%>
	<% stop_list.chop!%>
	<% if stop_list.length > 1 %>
	<img style="height: 600px; width: 600px;" src=“https://maps.googleapis.com/maps/api/staticmap?size=600x600&maptype=roadmap&markers=<%=stop_list%>&color:red%7Clabel:L%7C40&key=<%=ENV['PLACES_API_KEY']%>” alt=“google_map” class=“google_map”>
		<%end%>
	<% @stops.each do |stop| %>
		<li>
			<p><%=stop.name%></p>
			<p><%=stop.address%></p>
		</li>
		<form action="/stops/<%=stop.id%>/<%=@trip.id%>" method="POST">
			<input type="hidden" name="_method" value="DELETE">
			<button>Delete Stop From Trip</button>
		</form>
	<%end%>
	<!-- need to go back and check this once a trip show page is rendering -->
	<form action="/trips/<%=@trip.id%>" method="POST">
		<input type="hidden" name="_method" value="DELETE">
		<button>Delete This Trip</button>
	</form>
</body>
</html>