	<% stop_list = "" %>

	<% @stops.each do |stop| %>
		<% if stop.lat_long %>
			<%stop_list = stop_list + stop.lat_long + "|" %>
		<%end%>
	<%end%>

	<%if stop_list.length > 1%>
		<%stop_list = "|" + stop_list.chop!%>
	<%end%>

	<% if stop_list.length > 2 %>
		<div class="col-12-xl bg-dark p-4 my-5">
			<img id="map" class="rounded col-12-xl mx-auto d-block" style="height: 350px; width: 350px;" src="https://maps.googleapis.com/maps/api/staticmap?size=600x600&maptype=roadmap&markers=color:red%7Clabel:%7C40.<%=stop_list%>&key=<%=ENV['PLACES_API_KEY']%>" alt="google_map" class="google_map">
		</div>
	<%end%>

	<ul class="text-center list-unstyled bg-dark text-light p-2 mt-5 container rounded">
		<p id="tripname" class="text-center text-success" style="font-size: 30px;"><%=@trip.name%></p>
		<% @stops.each do |stop| %>

			<li class="border-top border-light p-3 mt-2">
				<p class="text-success"><%=stop.name%></p>
				<p><%=stop.address%></p>
			

			<form action="/stops/<%=stop.id%>/<%=@trip.id%>" method="POST">
				<input type="hidden" name="_method" value="DELETE">
				<button class="btn btn-danger">Delete Stop From Trip</button>
			</form>
		</li>
		<%end%>

		<form class="border-top border-light" action="/trips/<%=@trip.id%>" method="POST">
			<input type="hidden" name="_method" value="DELETE">
			<button class="btn btn-danger my-3">DELETE TRIP</button>
		</form>

	</ul>
	<div class="col-12-xl text-center my-5">
		<form action="/users/<%=@user[:id]%>" method="GET">
			<button class="btn btn-success">BACK TO SEARCH</button>
		</form>
	</div>	
