<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><%=@trip.name%></h1>
	<% @stops.each do |stop| %>
		<li>
			<p><%=stop.name%></p>
			<p><%=stop.address%></p>
		</li>
		<form action="/stops/<%=stop.id%>/<%=@trip.id%>" method="POST">
			<input type="hidden" name="_method" value="DELETE">
			<button>Delete Stop From Trip</button>
		</form>
	<%end%>
	<!-- need to go back and check this once a trip show page is rendering -->
	<form action="/trips/<%=@trip.id%>" method="POST">
		<input type="hidden" name="_method" value="DELETE">
		<button>Delete This Trip</button>
	</form>
</body>
</html>