
	<h1 class="text-center width-50 text-light"><%=@user[:username]%></h1>

	<form action="/users/<%=@user.id%>/edit" method="GET">
		<div class="text-center">
			<button class="btn btn-success my-2">Edit My Info</button>
		</div>
	</form>
	</br>
	</br>



		<h3 class="text-center text-light">Create A New Trip Here</h3>
		<form action="/trips" method="POST">
			<div class="form-group col-lg-12 col-lg-offset-4 text-center">
				<input class="form-control mt-2 mx-auto col-sm-5 text-center" type="text" name="name" placeholder="Trip Name">
				<button class="btn btn-success mt-2 col-sm-3">Create New Trip</button>
			</div>
		</form>



	<div class="mt-5">

		<div class="row col-lg-12 text-light">

			<div class="col-sm-6">
				<h4>Search For National Parks By State</h4>
				<p>Make Sure to format your search like it is shown below!</p>
				<p>Ex.Colorado or New Mexico not colorado or New mexico</p>
				<form action="/stops/1" method="GET">
					<div class="form-group col-md-4 col-lg-offset-4 float-left">
						<select name="state">
							<option value="Alabama">Alabama</option>
							<option value="Arizona">Arizona</option>
							<option value="Arkansas">Arkansas</option>
							<option value="California">California</option>
							<option value="Colorado">Colorado</option>
							<option value="Connecticut">Connecticut</option>
							<option value="Delaware">Delaware</option>
							<option value="Florida">Florida</option>
							<option value="Georgia">Georgia</option>
							<option value="Idaho">Idaho</option>
							<option value="Illinois">Illinois</option>
							<option value="Indiana">Indiana</option>
							<option value="Iowa">Iowa</option>
							<option value="Kansas">Kansas</option>
							<option value="Kentucky">Kentucky</option>
							<option value="Louisiana">Louisiana</option>
							<option value="Maine">Maine</option>
							<option value="Maryland">Maryland</option>
							<option value="Massachusetts">Massachusetts</option>
							<option value="Michigan">Michigan</option>
							<option value="Minnesota">Minnesota</option>
							<option value="Mississippi">Mississippi</option>
							<option value="Missouri">Missouri</option>
							<option value="Montana">Montana</option>
							<option value="Nebraska">Nebraska</option>
							<option value="Nevada">Nevada</option>
							<option value="New Hampshire">New Hampshire</option>
							<option value="New Jersey">New Jersey</option>
							<option value="New Mexico">New Mexico</option>
							<option value="New York">New York</option>
							<option value="North Carolina">North Carolina</option>
							<option value="North Dakota">North Dakota</option>
							<option value="Ohio">Ohio</option>
							<option value="Oklahoma">Oklahoma</option>
							<option value="Oregon">Oregon</option>
							<option value="Pennsylvania">Pennsylvania</option>
							<option value="Rhode Island">Rhode Island</option>
							<option value="South Carolina">South Carolina</option>
							<option value="South Dakota">South Dakota</option>
							<option value="Tennessee">Tennessee</option>
							<option value="Texas">Texas</option>
							<option value="Utah">Utah</option>
							<option value="Vermont">Vermont</option>
							<option value="Virginia">Virginia</option>
							<option value="Washington">Washington</option>
							<option value="West Virginia">West Virginia</option>
							<option value="Wisconsin">Wisconsin</option>
							<option value="Wyoming">Wyoming</option>
						</select>
						<button class="btn btn-success">SEARCH</button>
					</div>
				</form>
			</div>



			<div class="col-sm-6">
				<h4 class="text-right">Search For Anything Else</h4>
				<p class="text-right">Ex. restaurants in atlanta OR Museums in Texas</p>
				<form action="/stops/2" method="GET">
					<div class="form-group float-right">
						<input type="text" name="input">
						<button class="btn btn-success">SEARCH</button>
					</div>
				</form>
			</div>
		</div>

	</div>
	<!-- we would like the results to change "dynamically" depending on what search the user performed -->

	<% if session[:search] == 1  %>
	<!-- this is where the results from the nps api will display -->
		<ul id="border-1" class="text-center list-unstyled bg-success text-light p-3 border border-dark">
			<p id="results" class="text-center text-light">Search Results</p>
			<% @parks.each_with_index do |park, i| %>
				<li class="border-top border-dark pt-1 mt-2">
					Name:
					<span> <%= park["fullName"] %> </span>
					<br/>
					Designation:
					<span><%= park["designation"] %></span>
					<br/>
					Description:
					<span><%= park["description"] %></span>
					<br/>
					Weather-Info:
					<span><%= park["weatherInfo"] %></span>
					<br/>
					<form action="/stops/<%= park["fullName"]%>/<%= i %>" method="POST">
						<select name="name">
							<%for trip in @trips_nav do%>
								<option value="<%=trip[:name]%>"><%=trip[:name]%></option>
							<%end%>
						</select>
						<button>Add Stop to Trip</button>
					</form>
				</li>
			<%end%>
		</ul>
	<%elsif session[:search] == 2%>
	<!-- this is where the results from google places api will display -->
		<ul id="border-2" class="text-center list-unstyled bg-success text-light border border-dark p-3">
				<p id="results" class="text-center text-light">Search Results</p>
			<% @places.each_with_index do |place, i| %>
				<li class="border-top border-dark pt-1 mt-2">
					Name:
					<span> <%= place["name"] %> </span>
					<br/>
					Rating:
					<span><%= place["rating"] %></span>
					<br/>
					Address:
					<span><%= place["formatted_address"] %></span>
					<br/>
					Price Level:
					<span><%= place["price_level"] %></span>
					<br/>
					<form action="/stops/<%= place["name"]%>/<%= i %>" method="POST">
						<input type="text" name="name">
						<button>Add Stop to Trip</button>
					</form>
				</li>
			<%end%>	
		</ul>
	<%else%>
			<input type="hidden">
	<%end%>

