	<h1 class="text-center width-50"><%=@user[:username]%></h1>



	<div style="height: 200px; width: 200px" class="mx-auto">
		<img class="img-fluid"src="<%=@user[:image]%>">
	</div>
	</br>
	</br>




	<form action="/users/<%=@user.id%>/edit" method="GET">
		<button class="btn btn-primary float-right mt-2">Edit My Info</button>
	</form>
	</br>
	</br>



	<h3 class="text-center text-dark">Create A New Trip Here</h3>
	<form action="/trips" method="POST">
		<div class="form-group col-lg-12 col-lg-offset-4 text-center">
			<input class="form-control mt-2 mx-auto col-sm-5" type="text" name="name" placeholder="Trip Name">
			<button class="btn btn-success mt-2 col-sm-3">Create New Trip</button>
		</div>
	</form>


	<div class="row col-lg-12">
		<div class="col-sm-6">
			<h4>Search For National Parks By State</h4>
			<p>Make Sure to format your search like it is shown below!</p>
			<p>Ex.Colorado or New Mexico not colorado or New mexico</p>
			<form action="/stops/1" method="GET">
				<div class="form-group col-md-4 col-lg-offset-4 float-left">
					<input type="text" name="state">
					<button class="btn btn-success">SEARCH</button>
				</div>
			</form>
		</div>


		<div class="col-sm-6">
			<h4 class="text-right">Search For Anything Else</h4>
				<p class="text-right">Ex. restaurants in atlanta OR Museums in Texas</p>
					<form action="/stops/2" method="GET">
						<div class="form-group float-right">
							<input type="text" name="input">
							<button class="btn btn-success">SEARCH</button>
						</div>
					</form>
		</div>

	</div>
	<!-- we would like the results to change "dynamically" depending on what search the user performed -->

	<% if session[:search] == 1  %>
	<!-- this is where the results from the nps api will display -->
		<ul class="text-center list-unstyled bg-info text-light p-2">
			<% @parks.each_with_index do |park, i| %>
				<li>
					Name:
					<span> <%= park["fullName"] %> </span>
					<br/>
					Designation:
					<span><%= park["designation"] %></span>
					<br/>
					Description:
					<span><%= park["description"] %></span>
					<br/>
					Weather-Info:
					<span><%= park["weatherInfo"] %></span>
					<br/>
					<form action="/stops/<%= park["fullName"]%>/<%= i %>" method="POST">
						<input type="text" name="name">
						<button>Add Stop to Trip</button>
					</form>
				</li>
			<%end%>
		</ul>
	<%elsif session[:search] == 2%>
	<!-- this is where the results from google places api will display -->
		<ul class="text-center list-unstyled bg-primary text-light p-2">
			<% @places.each_with_index do |place, i| %>
				<li>
					Name:
					<span> <%= place["name"] %> </span>
					<br/>
					Rating:
					<span><%= place["rating"] %></span>
					<br/>
					Address:
					<span><%= place["formatted_address"] %></span>
					<br/>
					Price Level:
					<span><%= place["price_level"] %></span>
					<br/>
					<form action="/stops/<%= place["name"]%>/<%= i %>" method="POST">
						<input type="text" name="name">
						<button>Add Stop to Trip</button>
					</form>
				</li>
			<%end%>	
		</ul>
		<%else%>
	<%end%>
